.book{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-right: 30px;
    font-size: 19px;
    max-width: 126px;
}
.book button{
    padding: 0;
}
.book img{
    height: 180px;
    width: 126px;
    object-fit: cover;
}