.section{
    box-sizing: border-box;
    width: 100%;
}

.title{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    background: #ff0000;
    color: #fff;
    font-size: 20px;
}
.title button{
    font-size: 20px;
    color: #fff;
    background: transparent;
}
.title button:hover{
    text-decoration: underline;
}  

.books{
  background: #fff;
  display: flex;
  padding: 30px;
  margin-bottom: 20px;
  overflow-x: auto;
}
