.ml5{
    margin-left: 5px;
}
.header{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
    padding-left: 100px;
    padding-right: 100px;
    z-index: 5;
    background: #fff;
}

.logo{
    font-size: 35px;
}  

.textinput *{
    font-size: 20px;
    border-radius: 0;
    outline: none;
}
