* {
    font-family: Roboto;
}

span {
    margin: 0px;
}

h1 {
    line-height: 60px;
}

.orderList {
    width: 100%;
}
.orderCard {
    height: 60px;
    font-size: 16px;
    /* background-color: red; */
    background-color: white;
    align-items: center;
    display: flex;
}

.bar.orderCard div {
    background-color: #dddddd;
    vertical-align: middle;
}

.orderCard > div {
    display: inline-block;
    height: 100%;
    border: solid #666666 0.5px;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(255, 255, 255);
    align-items: center;
    vertical-align: middle;
}

.orderCard span {
    line-height: 60px;
    /* color: red; */
    vertical-align: middle;
}

.MainContent.order {
    background-color: rgba(0, 0, 0, 0);
}
.orderInsideContent {
    background-color: rgba(0, 0, 0, 0);
}
.orderId {
    width: 15%;
}
.orderDate {
    width: 15%;
}
.orderDescription {
    width: 50%;
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
}

.orderDescription a {
    margin-left: 10px;
}

.orderDescription.bar {
    padding: 0px;
}

.orderCard .orderDescription.bar {
    text-align: center;
}

.orderCard .orderDescription {
    width: 50%;
    text-align: left;
}
.orderPrice {
    width: 10%;
}
.orderStatus {
    width: 10%;
}

.OrderDetail {
    /* background-color: rgb(199, 199, 199); */
    width: 100%;
    height: 700px;
}

.OrderDetail .MainContent {
    /* background-color: rgb(126, 0, 0); */
    width: 100%;
    height: 100px;
}
/* 
.orderInsideContent .upper{
    text-align: justify;
    display: inline-flex;
}
.orderInsideContent .upper .sideInfo{
    background-color: green;
    display: inline-block;
    width: 30%;
    height: 300px;
    border: solid black 2px;
    box-sizing: border-box;
    vertical-align: top;
    justify-content: flex-end;
    
} */
.orderInsideContent ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
}

.orderInsideContent ul li {
    justify-content: space-between;
    display: inline-block;
    width: 33%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: solid lightgray 1px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

li div {
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
}

li div span {
    justify-content: space-around;
    /* background: yellow; */
}

.titlebar {
    height: 60px;
    color: white;
    background-color: #cc1c1c;

    box-sizing: border-box;
}
.titlebar > div {
    display: inline-block;
    border: solid 0.5px black;
}
.titlebar > div > span {
    width: 100%;
    line-height: 60px;
    text-align: center;
    display: inline-block;
}

.OrderDetailCard {
    top: 300px;
    width: 100%;
    height: 240px;
    /* background-color: red; */
    /* padding: 10px; */
    box-sizing: border-box;
    display: block;
}
.OrderDetailCard > div {
    display: inline-block;
    border: 0.5px solid gray;
    padding: 40px 20px;
    height: 100%;
    box-sizing: border-box;
    vertical-align: top;
    background-color: white;
}

.OrderDetailCard > div > span {
    width: 100%;
    text-align: center;
    display: inline-block;
}

.orderProduct {
    width: 40%;
}

.productImg {
    height: 100%;
    width: 35%;
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/71aFt4+OTOL.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.productProp {
    height: 100%;
    width: 55%;
    /* background-color: green; */
    display: inline-block;
    margin-left: 10px;
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.productName {
    height: 50px;
}

.productProp button {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border-radius: 5px;
}

button.productDetail {
    background-color: #ffffff;
    color: #0069e6;
    border: #0069e6 1px solid;
}

button.productDetail:hover {
    background-color: #0069e6;
    color: white;
}

button.productAdd {
    background-color: #0069e6;
    color: white;
}

button.productAdd:hover {
    background-color: hsl(213, 100%, 81%);
    color: black;
}

.productDetail {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.productAdd {
    position: absolute;
    bottom: 0%;
}
.unitPrice {
    width: 15%;
}
.productQty {
    width: 15%;
}
.productDiscount {
    width: 15%;
}
.totalPrice {
    width: 15%;
}

.totalCalc {
    width: 50%;
    height: 200px;
    margin: 20px 0px;
    position: absolute;
    right: 0%;
}

.field {
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
}

.totalField {
    position: absolute;
    right: 50%;
}
.totalValue {
    position: absolute;
    right: 0%;
}
.totalCost {
    font-size: 24px;
    color: red;
}
