.Content {
    top: 0%;
    left: 30%;
    right: 5%;
    position: absolute;
}

.AddressPopup h1 {
    margin-left: auto;
    width: 100%;
    text-align: center;
}

.AddressPopup {
    position: relative;
    top: 0%;
    display: block;
    height: 670px;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 10px 30px 0px #00000020;
    margin-top: 10px;
}

.AddressPopup .MainContent {
    box-align: center;
    position: absolute;
    width: 100%;
    height: fit-content;
    display: block;
}

.MainContent.add {
    background-color: rgb(255, 255, 255);
}

.AddressPopup .MainContent .infoInsideContent {
    margin: auto;
    padding: 20px 0px;
    width: 70%;
}

.field {
    margin: 20px 0px;
    height: 40px;
    position: relative;
    display: flex;
}

.field label {
    /* display: inline-block; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    /* line-height: 40px; */
}

select {
    position: absolute;
    left: 20%;
    width: 80%;
    height: 100%;
    background: #efefef;
    border: 1px solid #dddddd;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.field .fieldInput {
    position: absolute;
    display: inline-block;
    width: 80%;
    height: 40px;
    right: 0px;
    font-size: 14px;
    background: #efefef;
    border: 1px solid #dddddd;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.AddressPopup .update {
    display: block;
    width: 160px;
    height: 50px;
    font-size: 16px;
    color: white;
    margin: 20px auto;
    border-radius: 5px;
}

.inputAddressType {
    position: absolute;
    display: inline-block;
    right: 0%;
    width: 80%;
    height: 100%;
}
.selectAddressType {
    position: static;
}
.typeSelection {
    position: static;
}

.gender {
    position: absolute;
    display: inline-block;
    width: 80%;
    height: 40px;
    right: 0px;
}

.addressCard {
    /* border: 1px solid black; */
    box-shadow: 0px 5px 30px 0px #00000030;
    padding: 15px 5px;
    box-sizing: border-box;
    height: 120px;
    margin: 10px 0px;
    border-radius: 20px;
    font-size: 16px;
    background-color: white;
    width: 100%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.info {
    /* width: 60%;  */
    height: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* position: absolute; */
    left: 0px;
}

.addressButton {
    margin: 0px 20px;
    /* width: 40%; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.addressButton .delAddr {
    color: #f02e15;
}
.addressButton .delAddr:hover {
    color: rgb(197, 37, 16);
}
.addressButton button {
    background-color: rgba(240, 248, 255, 0);
    color: #4267b2;
    text-transform: none;
    font-weight: none;
}
.buttonBar .addButton {
    background-color: #4267b2;
}

.buttonBar .addButton:hover {
    background-color: #154094;
}
.UserAddress .buttonBar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.addButton {
    color: white;
    min-height: 50px;
    margin: auto;
    background-color: #4267b2;
}
.addButton:hover {
    background-color: #154094;
}

.update.confirmAdd {
    background-color: #4267b2;
}
.update.confirmAdd:hover {
    background-color: #154094;
}
.update.cancelAdd {
    background-color: #e0432e;
}
.update.cancelAdd:hover {
    background-color: #ce2c16;
}
.invalidForm {
    width: 100%;
    color: red;
    text-align: center;
}
.defaultCheck {
    width: fit-content;
    display: inline-block;
    padding-left: 10px;
}
.defaultCheck div {
    display: flex;
    align-items: center;
}
.defaultCheck div * {
    color: rgb(0, 167, 0);
    padding-right: 5px;
}
.defaultIcon{
    font-size: 18px;;
}
.addressName{
    display:flex;
   align-items:center;
}