* {
    font-family: Roboto;
}

.Info{
    position: relative;
    z-index: 0;
}


.Content {
    top: 0%;
    left: 30%;
    right: 5%;
    position: absolute;
}

.InfoNav {
    width: 20%;
    display: inline-block;
    position: absolute;
    left: 5%;
    top: 10px;
}

.btn {
    text-decoration: none;
}

.InfoNav .btn {
    display: block;
    width: 100%;
    height: 60px;
    text-decoration: none;
    background-color: #ffffff00;
    text-align: left;
    border: none;
    margin: 10px auto;
}

.InfoNav .btn span {
    text-decoration: none;
}

.InfoNav .btn:hover {
    background-color: #dddddd;
}
.InfoNav .Avatar {
    width: 100%;
    position: relative;
    margin: auto;
}
.InfoNav .Avatar .img {
    width: 25vh;
    height: 25vh;
    border-radius: 40px;
    border-color: rgba(0, 0, 0, 0);
    background-image: url("https://d.newsweek.com/en/full/1868100/what-if-watcher.png?w=790&f=423b1a1360f928cdad7773df817e1f50");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.InfoNav .Avatar .btn {
    width: 60%;
    height: 40px;
    margin: 20px;
    border: solid black 2px;
    margin: 10px auto;
    text-align: center;
}

.InfoNav img {
    width: 240px;
    height: 240px;
}
.UserInfo {
    display: inline-block;
}

.UserInfo .MainContent {
    box-align: center;
    position: absolute;
    width: 100%;
    height: 720px;
    /* font-size: 20px; */
    display: inline-block;
    /* background-color: white; */
}

.MainContent.info{
    background-color: white;
}

.background {
    background-color: rgb(211, 0, 0);
    width: 100%;
}

.UserInfo .MainContent .infoInsideContent {
    margin: auto;
    padding: 20px 0px; 
    width: 70%;
    /* background-color: #ffffff; */
}

.field{
    /* background-color: #796fff; */
    margin: 20px;
    position: relative;
}

.field label{
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
}

.field input{
    position: absolute;
    display: inline-block;
    width: 80%;
    height: 40px;
    right: 0px;
    font-size: 20px;
    background: #efefef;
    border: 1px solid #868686;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 6px;
}

.UserInfo .update {
    display: block;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: white;
    margin: 20px auto;
    border-radius: 5px;
}

.changeInfo {
    background-color: #cc101c;
}
.changePassword {
    background-color: #1b10cc;
}
.UserInfo label {
    display: inline-block;
    width: 150px;
    /* height: 40px; */
    /* line-height: 10px; */
    /* border-width: 10px 0px; 
    border: solid white; */
    padding: 10px 0px;
    /* display: block; */

    box-sizing: content-box;
    /* height: 50px; */
}

.inputGender{
    position: absolute;
    display: inline-block;
    right: 0%;
    width: 80%;
    height: 100%;
    /* align-items: center; */
    /* background-color: red; */
}

.selectGender{
    width: 15%;
    display: inline-block;
    position: relative;
    /* position: absolute; */
    top: 50%;
    transform: translateY(-50%);
    padding: 0px;
    margin: 0px 40px;
}

.selectGender label{
    width: fit-content
}

.selectGender input{
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0px;
    margin: 0px;
}
