* {
    font-family: Roboto;
}

span {
    margin: 0px;
}

h1 {
    line-height: 60px;
    display: block;
}

.orderList {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 20px 20px 0px #00000020;
}

.orderCard {
    height: 60px;
    font-size: 16px;
    /* background-color: red; */
    /* background-color: white; */
    align-items: center;
    display: flex;
}

.bar.orderCard div {
    background-color: #4267b2;
    color: white;
    vertical-align: middle;
}

.orderCard > div {
    display: inline-block;
    height: 100%;
    /* border: solid #666666 0.5px; */
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(255, 255, 255);
    align-items: center;
    vertical-align: middle;
}

.orderCard span {
    line-height: 60px;
    /* color: red; */
    vertical-align: middle;
}

.MainContent.order {
    background-color: rgba(0, 0, 0, 0);
}
.orderInsideContent {
    background-color: rgba(0, 0, 0, 0);
}
.orderId {
    width: 25%;
}
.orderDate {
    width: 10%;
}
.orderDescription {
    width: 40%;
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
}

.orderDescription a {
    margin-left: 10px;
    color:hsl(213, 100%, 34%);
    text-decoration: none;
    /* display: flex; align-items: flex-end; */
}

.orderDescription.bar {
    padding: 0px;
}

.orderCard .orderDescription.bar {
    text-align: center;
}

.orderCard .orderDescription {
    width: 50%;
    text-align: left;
}
.orderPrice {
    width: 10%;
}
.orderStatus {
    width: 15%;
}

.OrderDetail {
    /* background-color: rgb(199, 199, 199); */
    width: 100%;
    /* height: 700px; */
}

.OrderDetail .MainContent {
    /* background-color: rgb(126, 0, 0); */
    width: 100%;
    /* height: 1000px; */
}

.orderInsideContent ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
    /* box-shadow: 0px 10px 20px 10px #00000030; */
}

.orderInsideContent ul li {
    justify-content: space-between;
    display: inline-block;
    width: 33%;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    /* border: solid lightgray 1px; */
    box-shadow: 0px 2px 5px 0px #00000040;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

li div {
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 120px;
}

li div span {
    justify-content: space-around;
    /* background: yellow; */
}
.lower {
    /* background-color:red; */
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 20px 20px 0px #00000020;
    margin-top: 10px;
    /* background-color: red; */
}
.titlebar {
    height: 60px;
    color: white;
    background-color: #4267b2;

    box-sizing: border-box;
}
.titlebar > div {
    display: inline-block;
    /* border: solid 0.5px black; */
    box-sizing: border-box;
}
.titlebar > div > span {
    width: 100%;
    line-height: 60px;
    text-align: center;
    display: inline-block;
}

.OrderDetailCard {
    background: white;
    top: 300px;
    width: 100%;
    height: 240px;
    box-sizing: border-box;
    display: block;
}

.OrderDetailCard > div {
    display: inline-block;
    border-top: 0.5px solid gray;
    padding: 40px 20px;
    height: 100%;
    box-sizing: border-box;
    vertical-align: top;
    /* background-color: white; */
}

.OrderDetailCard > div > span {
    width: 100%;
    text-align: center;
    display: inline-block;
}

.orderProduct {
    width: 40%;
}

.productImg {
    height: 100%;
    width: 45%;
    /* background-image: url("https://images-na.ssl-images-amazon.com/images/I/71aFt4+OTOL.jpg"); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.productImg{
    max-width: 200%;
}

.productProp {
    height: 100%;
    width: 45%;
    display: inline-block;
    margin-left: 10px;
    position: relative;
}

.productName {
    height: 50px;
    font-size: 24px;;
}

.productProp button {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border-radius: 5px;
}
/* 
button.productDetail {
    background-color: #ffffff;
    color: #0069e6;
    border: #0069e6 1px solid;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

button.productDetail:hover {
    background-color: #0069e6;
    color: white;
}

button.productAdd {
    background-color: #0069e6;
    color: white;
    position: absolute;
    bottom: 0%;
}

button.productAdd:hover {
    background-color: hsl(213, 100%, 34%);
    color: rgb(255, 255, 255);
} */

.unitPrice {
    width: 20%;
}
.productQty {
    width: 15%;
}
/* .productDiscount {
    width: 15%;
} */
.totalPrice {
    width: 25%;
}

.totalCalc {
    width: 100%;
    height: 80px;
    margin: 20px 0px;
    /* position: absolute; */
    right: 0%;
    display: flex;
    justify-content: flex-end;
}

.field {
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
}

.totalField {
    width: 50%;
    /* position: absolute; */
    /* right: 50%; */
    /* margin-top: 20px;; */
}
.totalValue {
    /* position: absolute; */
    /* right: 0%; */
    display: inline-block;
}
.totalCost {
    /* margin-top: 40px; */
    font-size: 24px;
    color: #4267b2;
    display: inline-block;
    padding-left: 10px;
}
