.modal {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    padding: 1rem;
    text-align: center;
    width: 30rem;
    z-index: 10;
    position: fixed;
    top: 20vh;
    left: calc(50% - 15rem);
  }
  
  
  .btn {
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    background-color:#CC0000;
    color: white;
    border: 1px solid #CC0000;
    margin: 0 1rem;
  }
  
  .btn:hover {
    background-color:#e31837;
    border-color: #e31837;
  }
  
  .btn_alt {
    background-color: transparent;
    color: #CC0000;
  }
  
  .btn_alt:hover {
    background-color: #f8dae9;
  }