.Content {
    top: 0%;
    left: 30%;
    right: 5%;
    position: absolute;
}

.AddressPopup h1{
    margin-left: auto;
    width: 100%;
    text-align: center;
}

.AddressPopup {
    position: absolute;
    top: 0%;
    display: inline-block;
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    background-color: #ffffff;
}

.AddressPopup .MainContent {
    box-align: center;
    position: absolute;
    width: 100%;
    height: fit-content;
    display: inline-block;
    /* background-color: #1b10cc; */
}

.MainContent.add{
    background-color: rgb(255, 255, 255);
}

.AddressPopup .MainContent .infoInsideContent {
    margin: auto;
    padding: 20px 0px; 
    width: 70%;
}

.field{
    margin: 20px 0px;
    height: 40px;
    position: relative;
}

.field label{
    display: inline-block;
    height: 100%;
    width: 20%;
    box-sizing: border-box;
    position: absolute;
    line-height: 40px;
}

select{
    position: absolute;
    left: 20%; 
    width: 80%;
    height: 100%;
    background: #efefef;
    border: 1px solid #dddddd;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.field input{
    position: absolute;
    display: inline-block;
    width: 80%;
    height: 40px;
    right: 0px;
    font-size: 14px;
    background: #efefef;
    border: 1px solid #dddddd;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.AddressPopup .update {
    display: block;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: white;
    margin: 20px auto;
    border-radius: 5px;
}

.changeInfo {
    background-color: #cc101c;
}
.changePassword {
    background-color: #1b10cc;
}

.inputAddressType{
    position: absolute;
    display: inline-block;
    right: 0%;
    width: 80%;
    height: 100%;
    /* align-items: center; */
    /* background-color: red; */
}

.selectAddressType{
    width: 35%;
    height: 100%;;
    /* background-color: #1b10cc; */
    display: inline-block;
    position: relative;
    /* position: absolute; */
    top: 50%;
    transform: translateY(-50%);
    padding: 0px;
    margin: 0px 20px;
}

.selectAddressType label{
    position: absolute;
    left: 10%;
    width: fit-content;
}

.selectAddressType span{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    padding: 0px;
    margin: 0px;
}

.selectAddressType input{
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    padding: 0px;
    margin: 0px;
}






.orderList {
    width: 100%;
}
.orderCard span {
    display: inline-block;
    border: solid black 1px;
    font-size: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: aliceblue;
}

.addressCard {
    border: 1px solid black;
    height: 120px;
    margin: 10px 0px;
    border-radius: 20px;
    font-size: 16px;
    background-color: white;
    width: 100%;
    margin-right: 10%;
    align-items: center;
    position: relative;
}

.info{
    width: 60%; height: 100%;
    display: inline-block;
    position: absolute;
    left: 0px;
}

.addressButton
{
    width: 20%;
    height: 100%;
    display: inline-block;
    position: absolute;
    right: 0px;
    align-items: center;
}

.addressButton button
{
    background-color: rgba(240, 248, 255, 0);
    color: #0069e6;
    font-size: 16px;
    position: absolute;
    top: 50%;
    right: 0%;
    margin-right: 20px;
    transform: translateY(-50%);
}

.addressCard *{
    display: block
}

.addressCard span{
    display: block;
    line-height: 40px;
    margin-left: 20px;
}

.UserAddress .buttonBar{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}
.UserAddress .btn {
    background-color: red;
    color: white;
    font-size: 20px;
    width: 20%;
    height: 40px;
    min-width: 200px;
    min-height: 60px;
    margin: auto;
}
