.orderList {
    width: 100%;
}
.orderCard span {
    display: inline-block;
    border: solid black 1px;
    font-size: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: aliceblue;
}

.UserInfo .MainContent .notiInsideContent {
    margin: auto;
    padding: 20px 0px;
    /* margin-left: 10%; */
    background-color: #ffffff;
}
.addressCard {
    /* display: inline-block; */
    border: 1px solid black;
    height: 120px;
    margin: 10px 0px;
    border-radius: 20px;
    font-size: 16px;
    /* background-color: red; */
    background-color: white;
    width: 100%;
    margin-right: 10%;
    /* position: relative; */
    align-items: center;
    display: flex;
}

.notiDate {
    width: 10%;
    margin: 0px 10px;
}
.notiDescription {
    width: 65%;
    margin: 0px 10px;
}



.addressInsideContent
{
    margin-right: 10%;
}

/* .addressList{
    width: 100%;
} */

.addressCard *{
    display: inline-block
}

.UserAddress .buttonBar{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}
.UserAddress .btn {
    background-color: red;
    color: white;
    font-size: 20px;
    width: 20%;
    height: 40px;
    min-width: 200px;
    min-height: 60px;
    margin: auto;
}
