


.Login {
    background-color: red;
    height: 100%;
}

.LoginForm {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    padding: 1rem;
    /* text-align: center; */
    width: 30rem;
    z-index: 10;
    position: fixed;
    top: 20vh;
    left: calc(50% - 15rem);
}

.alt{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    padding: 1rem;
    text-align: center;
    width: 30rem;
    z-index: 10;
    position: fixed;
    top: 20vh;
    left: calc(50% - 15rem);
}

.LoginForm h1 {
    width: 100%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    /* line-height: 40px; */
    /* display: flex; */
    align-items: center;
    text-align: center;

    color: #000000;
}

.LoginForm > * {
    background-color: rgba(255, 77, 77, 0.788);
    margin: auto;
    width: 400px;
    display: block;
    position: relative;
}

.LoginForm .field > * {
    width: 100%;
    box-sizing: border-box;
    background-color: #4538ff83;
}

.LoginForm .field .btn {
    width: 400px;
    height: 60px;
    background: #cc101b;
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    text-align: center;

    color: #ffffff;
}

.LoginForm .field Input {
    width: 400px;
    height: 40px;

    background: #ebebeb;
    border-radius: 5px;
}

.LoginForm .field.change .row{
    margin: auto;
    width: auto;
}

.backdrop {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.767);
    position: absolute;
}
#signin {
    text-align: center;
}

.LoginForm label {
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;

    color: #000000;
}

/* div .LoginForm .field .row {
    position: relative;
} */

div .LoginForm .field .col {
    right: 0%;
    display: inline-block;
    width: 40%;
}

.LoginForm .field
{
    margin: 20px 0px;
    align-items: center;
}

div .LoginForm .field a {
    /* position: absolute; */
    right: 0px;
    height: 24px;
    top: calc(50% - 24px / 2);
}

div .LoginForm .field.change{
    /* position: absolute; */
    background-color: green;
    width: 60%;
    align-items: center;
    align-self: center;
}
