.cartcontainer{
margin-left: 30px;
margin-right: 30px;
}

.cartcontainer h3{
margin-left: 50px;
}

.listcard{
    width: 40%
}
.flex_row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* border: 1px solid red; */
}

.action button{
    font-size: 16px;
    background: #CC0000;
    color: whitesmoke;
    margin: 10px 10px 10px;
    border-radius: 5px;
}

.action button:hover{
    background: #e31837;
}
.action{
    text-align: left;
    margin-top: 30px;
    color: whitesmoke;
}

.m{
    margin: 12px 16px;
}

